{{define "control-input" -}}
<div class="field">
<label class="field__label" for="f-{{.Path}}">{{.Label}}</label>
<input class="field__control" type="text" id="f-{{.Path}}" name="{{.Path}}" value="{{.Value}}" aria-describedby="f-{{.Path}}-help f-{{.Path}}-error"{{if .Required}} required{{end}}>
<p class="field__help" id="f-{{.Path}}-help">{{.Help}}</p>
<p class="field__error" id="f-{{.Path}}-error">{{.Error}}</p>
</div>
{{- end}}

{{define "control-password" -}}
<div class="field">
<label class="field__label" for="f-{{.Path}}">{{.Label}}</label>
<input class="field__control" type="password" id="f-{{.Path}}" name="{{.Path}}" autocomplete="new-password" aria-describedby="f-{{.Path}}-help f-{{.Path}}-error"{{if .Required}} required{{end}}>
<p class="field__help" id="f-{{.Path}}-help">{{.Help}}</p>
<p class="field__error" id="f-{{.Path}}-error">{{.Error}}</p>
</div>
{{- end}}

{{define "control-number" -}}
<div class="field">
<label class="field__label" for="f-{{.Path}}">{{.Label}}</label>
<input class="field__control" type="number" inputmode="numeric" id="f-{{.Path}}" name="{{.Path}}" value="{{.Value}}" aria-describedby="f-{{.Path}}-help f-{{.Path}}-error"{{if .Required}} required{{end}}>
<p class="field__help" id="f-{{.Path}}-help">{{.Help}}</p>
<p class="field__error" id="f-{{.Path}}-error">{{.Error}}</p>
</div>
{{- end}}

{{define "control-duration" -}}
<div class="field">
<label class="field__label" for="f-{{.Path}}">{{.Label}}</label>
<input class="field__control" type="text" pattern="[0-9]+(ns|us|ms|s|m|h)" id="f-{{.Path}}" name="{{.Path}}" value="{{.Value}}" aria-describedby="f-{{.Path}}-help f-{{.Path}}-error"{{if .Required}} required{{end}}>
<p class="field__help" id="f-{{.Path}}-help">{{.Help}}</p>
<p class="field__error" id="f-{{.Path}}-error">{{.Error}}</p>
</div>
{{- end}}

{{define "control-select" -}}
<div class="field">
<label class="field__label" for="f-{{.Path}}">{{.Label}}</label>
<select class="field__control" id="f-{{.Path}}" name="{{.Path}}" aria-describedby="f-{{.Path}}-help f-{{.Path}}-error"{{if .Required}} required{{end}}>
{{range .Options}}<option value="{{.Value}}"{{if eq .Value $.Value}} selected{{end}}>{{.Label}}</option>
{{end}}</select>
<p class="field__help" id="f-{{.Path}}-help">{{.Help}}</p>
<p class="field__error" id="f-{{.Path}}-error">{{.Error}}</p>
</div>
{{- end}}

{{define "control-toggle" -}}
<div class="field field--toggle">
<input type="hidden" name="{{.Path}}" value="false">
<label class="field__label" for="f-{{.Path}}">{{.Label}}</label>
<input class="field__control field__switch" type="checkbox" id="f-{{.Path}}" name="{{.Path}}" value="true"{{if eq .Value "true"}} checked{{end}} aria-describedby="f-{{.Path}}-help f-{{.Path}}-error">
<span class="field__switch-track" aria-hidden="true"></span>
<p class="field__help" id="f-{{.Path}}-help">{{.Help}}</p>
<p class="field__error" id="f-{{.Path}}-error">{{.Error}}</p>
</div>
{{- end}}

{{define "control-chips" -}}
<div class="field field--chips">
<label class="field__label" for="f-{{.Path}}">{{.Label}}</label>
<ul class="field__chips">
{{range $i, $o := .Options}}<li class="chip"><input type="hidden" name="{{$.Path}}[{{$i}}]" value="{{$o.Value}}"><span class="chip__text">{{$o.Label}}</span><button class="button-secondary chip__remove" type="button" data-js="chip-remove">Remove {{$o.Label}}</button></li>
{{end}}</ul>
<input class="field__control" type="text" id="f-{{.Path}}" name="{{.Path}}[{{len .Options}}]" value="" data-js="chips" aria-describedby="f-{{.Path}}-help f-{{.Path}}-error">
<p class="field__help" id="f-{{.Path}}-help">{{.Help}}</p>
<p class="field__error" id="f-{{.Path}}-error">{{.Error}}</p>
</div>
{{- end}}

{{define "control-row" -}}
<fieldset class="field field--rows" data-js="rows">
<legend class="field__label">{{.Label}}</legend>
{{range $i, $o := .Options}}<div class="field__row">
<label class="field__label" for="f-{{$.Path}}[{{$i}}]">{{$o.Label}}</label>
<input class="field__control" type="text" id="f-{{$.Path}}[{{$i}}]" name="{{$.Path}}[{{$i}}]" value="{{$o.Value}}" aria-describedby="f-{{$.Path}}-help f-{{$.Path}}-error">
<button class="button-secondary" type="button" data-js="row-remove">Remove {{$o.Label}}</button>
</div>
{{end}}<button class="button-secondary" type="button" data-js="row-add">Add {{.Label}}</button>
<p class="field__help" id="f-{{.Path}}-help">{{.Help}}</p>
<p class="field__error" id="f-{{.Path}}-error">{{.Error}}</p>
</fieldset>
{{- end}}
